<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SearchDoctor</servlet-name>
        <servlet-class>Controller.SearchDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterDonor</servlet-name>
        <servlet-class>Controller.RegisterDonor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDonor</servlet-name>
        <servlet-class>Controller.SearchDonor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDonorStatus</servlet-name>
        <servlet-class>Controller.UpdateDonorStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDonorInfo</servlet-name>
        <servlet-class>Controller.UpdateDonorInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctor</servlet-name>
        <servlet-class>Controller.AddDoctor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchDoctor</servlet-name>
        <url-pattern>/SearchDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterDonor</servlet-name>
        <url-pattern>/RegisterDonor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDonor</servlet-name>
        <url-pattern>/SearchDonor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDonorStatus</servlet-name>
        <url-pattern>/UpdateDonorStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDonorInfo</servlet-name>
        <url-pattern>/UpdateDonorInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctor</servlet-name>
        <url-pattern>/AddDoctor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/Error.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/Error.html</location>
    </error-page>
</web-app>
